###
# Unity folders and files
###

[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ocal[Cc]ache/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/

# file on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
ArtifactDB

### 
# Files that unable to push
###

3DModelFolder/Raven-24Models/Character.blend*
ProjectFolder/Raven-24/Library/ArtifactDB*
